/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.screen {
    display: none;
    text-align: center;
}

.screen.active {
    display: block;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.start-button, .options button, #moments-screen button, #health-screen button, #lactation-screen button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.start-button:hover, .options button:hover, #moments-screen button:hover, #health-screen button:hover, #lactation-screen button:hover {
    background-color: #e30058;
}

button:focus {
    outline: none;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    color: #ff4081;
}

.hidden {
    display: none;
}

form input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 250px;
}

form button {
    background-color: #ff4081;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

form button:hover {
    background-color: #e30058;
}
