/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Pantalla Principal */
.screen {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.screen.hidden {
    display: none;
}

#home-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFCCE5; /* Fondo cálido */
}

#home-screen .logo {
    width: 200px;
    margin-bottom: 20px;
}

.start-button {
    padding: 10px 20px;
    background-color: #FF5C8D;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #FF2D60;
}

/* Pantalla de Funciones */
#second-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 32px;
    color: #FF5C8D;
}

header p {
    font-size: 18px;
    color: #888;
}

.sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF5C8D;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section:hover {
    background-color: #FF2D60;
}

.section img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.section span {
    font-size: 18px;
    color: white;
}

/* Estilo para los iconos */
img {
    width: 50px;
    height: 50px;
}

/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #FFCCE5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
